<div>
  <h4>Navigator</h4>
  <div class="ui divider">
    <div class="ui grid">
      <div class="column">
        <br />
        <button (click)="postedJobs()" class="ui blue basic button">Posted Jobs</button>
      </div>
    </div>
    <div class="ui divider">
    </div>

    <div class="ui grid">
      <div class="column">
        <br />
        <button (click)="postJob()" class="ui blue basic button">Post a Job</button>
      </div>
    </div>
    <div class="ui divider">
    </div>

    <div class="ui grid">
      <div class="column">
        <br />
        <button  class="ui blue basic button" (click)="searchCandidate()">Search candidate</button>
      </div>
    </div>
    <div class="ui divider">
    </div>

  </div>



