<div class='photo-list'>
  <!-- <div *ngFor="#user of users"> -->
  <div *ngFor="let myjob of jobs">
    <div class="ui grid">

      <div class='two wide column'>
      </div>

      <div class='fourteen wide column'>
        <div class="ui raised segment">
          <div class="ui three column grid">
            <div class="three column row">
              <div class="fourteen wide column" (click)="onSelect(job)" style="cursor: pointer"><h2>{{myjob?.name}}</h2></div>
            </div>
            <div class="column">Location</div>
            <div class="column">Due Date</div>
            <div class="column">Status</div>

            <div class="column">{{myjob.location}}</div>
            <div class="column">{{myjob.due_time}}</div>
            <div class="column">{{myjob.status}}</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
