<div class="container">
  <div class="ui grid">
    <div class='twelve wide column' *ngIf="controlService.sidePanelControl === '1'">
      <job-list></job-list>
    </div>
    <div class='twelve wide column' *ngIf="controlService.sidePanelControl === '2'">
      <applied-jobs></applied-jobs>
    </div>
    <div class='twelve wide column' *ngIf="controlService.sidePanelControl === '3'">
      <notification></notification>
    </div>
    <div class='four wide column'>
      <side-panel></side-panel>
    </div>
  </div>
</div>
