<div class="container">
  <!--<div class="ui buttons" [hidden]="loginService.checkLogin()">-->
    <!--<button class="ui button"  (click)="studentSelected()">Student</button>-->
    <!--<button class="ui button" (click)="companySelected()">Company</button>-->
  <!--</div>-->
  <br>
  <div class="column">
    <div class="ui left floated compact segment">
      <div class="ui test toggle checkbox">
        <input type="checkbox" (click)="toggle()">
        <label *ngIf ="!student">Login as Company</label>
        <label *ngIf ="student">Login as Student</label>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <form (ngSubmit)="onSubmit()" class="ui form" [hidden]="loginService.checkLogin()">
    <div class="field">
      <label for="username">Username</label>
      <input type="text" required [(ngModel)]="model.username" id = "username" ngControl="username" placeholder="Username" name="username" required><br>
    </div>

    <div class="field">
      <label for="password">Password</label>
      <input type="password" required [(ngModel)]="model.password" id = "password" ngControl="password" placeholder="password" name="password" required>
    </div>

    <button type="submit" class="ui button">Submit</button>
  </form>

  <div [hidden]="!loginService.checkLogin()">
    <h3>Logged In Successfully! </h3>
    <h2>Welcome back, {{currentUserName}}!</h2>
  </div>

</div>
