<div class="ui inverted fixed menu">
  <div class="ui secondary pointing menu ">
    <a class="item" routerLink="/home" routerLinkActive="active">
      <img src="https://cdn3.iconfinder.com/data/icons/seo-and-internet-marketing/70/1-10-512.png" />
    </a>
    <a class="item" routerLink="/home" routerLinkActive="active">
      <h2>Jobster</h2>
    </a>
    <a class="item" routerLink="/home" routerLinkActive="active">
      Home
    </a>
    <!--<a class="item" routerLink="/my-album" routerLinkActive="active">-->
      <!--My Album-->
    <!--</a>-->
    <a class="item" routerLink="/jobList" routerLinkActive="active">
      Jobs
    </a>
    <a class="item" routerLink="/companyList" routerLinkActive="active">
      Companies
    </a>
    <a class="item" routerLink="/studentList" routerLinkActive="active">
      Users
    </a>
  </div>
  <div class="right menu ">
    <a *ngIf="!loginService.checkLogin()" class="item" routerLink="/register" routerLinkActive="active" >
      Register
    </a>
    <a class="item" routerLink="/login" routerLinkActive="active" (click)="onClick()">
      {{loginService.checkLogin()? 'Logout' : 'Login'}}
    </a>
  </div>
</div>

