<div>
  <h4>Navigator</h4>
  <div class="ui divider">
    <div class="ui grid">
      <div class="column">
        <br />
        <button (click)="subscribedComapanies()" class="ui blue basic button">Your Companies</button>
      </div>
    </div>
    <div class="ui divider">
    </div>

    <div class="ui grid">
      <div class="column">
        <br />
        <button (click)="applyJobs()" class="ui blue basic button">Your Jobs</button>
      </div>
    </div>
    <div class="ui divider">
    </div>

    <div class="ui grid">
      <div class="column">
        <br />
        <button (click)="friends()" class="ui blue basic button">Your Friends</button>
      </div>
    </div>
    <div class="ui divider">
    </div>

    <div class="ui grid">
      <div class="column">
        <br />
        <button (click)="Noti()" class="ui blue basic button">Notifications</button>
      </div>
    </div>
    <div class="ui divider">
    </div>

    <div class="ui grid">
      <div class="column">
        <br />
        <button (click)="Mess()" class="ui blue basic button">  Messages  </button>
      </div>
    </div>
    <div class="ui divider">
    </div>
</div>


